* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: royalblue;
}

.memory-game {
    width: 960px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memory-game img {
    width: 16.666%;
    height: 33.333%;
    position: relative;
}

.attempts {
    padding: 30px 30px;
    font-size: 25px;
}
.attempts-number {
    font-size: 30px;
    color: darkred;
}